<div class="container-fluid text-center bg-primary p-5">
  <h3>
    {{locations.0.category.name}}
  </h3>
  <h4>
    Discover new spots or share your own thoughts.
  </h4>

</div>

<div class="text-center">

</div>

<!-- Click on activity section -->
<div class="d-flex flex-row mb-3">
  <div class="container d-flex flex-row justify-content-center col-10">
    {{#each locations as |location|}}
      <div class="card col-lg-4 m-2">
        <div class="card-body">
          <h5 class="card-title">{{location.name}}</h5>
          <h6>{{location.address}}</h6>
          <p class="card-text">{{location.description}}</p>
          <a
            href="/api/location/one/{{location.location_id}}"
            class="btn btn-primary"
          >See Reviews</a>
        </div>
      </div>
    {{/each}}
  </div>
</div>

<div class="text-center">
  <h5>See more...</h5>
</div>