<div
  class="container-fluid category-header text-start text-light bg-primary d-flex flex-wrap justify-content-center align-items-center p-0 mb-5"
>
  <img
    class="img-fluid position-relative"
    src="/images/category-{{locations.0.category.name}}-header.jpg"
  />
  <div
    class="d-flex category-text justify-content-start align-items-start col-8 pt-5"
  >
    <div
      class="d-flex flex-column justify-content-start align-items-start col-6"
    >
      <h2>
        {{locations.0.category.name}}
      </h2>
      <h5>
        Discover new spots or share your own thoughts.
      </h5>
    </div>
  </div>
</div>

<div class="text-center">

</div>

<!-- Click on activity section -->
<div class="d-flex flex-row mb-3">
  <div
    class="container d-flex flex-row flex-wrap justify-content-center col-10"
  >
    {{#each locations as |location|}}

      <div class="card col-lg-3 m-2">
        <div class="overflow-hidden" style="height:215px">
          <img
            class="card-img-top"
            src="/images/{{location.filename}}"
            alt=""
          />
        </div>
        <div
          class="card-body d-flex flex-column align-items-stretch justify-content-between"
        >
          <h5 class="card-title text-center">{{location.name}}</h5>
          <h6 class="text-center">{{location.address}}</h6>
          <p class="card-text text-center">{{location.description}}</p>
          <a
            href="/api/location/one/{{location.location_id}}"
            class="btn btn-primary"
          >See Reviews</a>
        </div>
      </div>
    {{/each}}
  </div>
</div>

