<div class="container-fluid text-center bg-primary p-5">
  <h3>
    {{locations.0.category.name}}
  </h3>
  <h4>
    Discover new spots or share your own thoughts.
  </h4>

</div>

<div class="text-center">

</div>

<!-- Click on activity section -->
<div class="d-flex flex-row mb-3">
  <div
    class="container d-flex flex-row flex-wrap justify-content-center col-10"
  >
    {{#each locations as |location|}}

      <div class="card col-lg-3 m-2">
        <div class="overflow-hidden" style="height:215px">
          <img
            class="card-img-top"
            src="/images/{{location.filename}}"
            alt=""
          />
        </div>
        <div
          class="card-body d-flex flex-column align-items-stretch justify-content-between"
        >
          <h5 class="card-title text-center">{{location.name}}</h5>
          <h6 class="text-center">{{location.address}}</h6>
          <p class="card-text text-center">{{location.description}}</p>
          <a
            href="/api/location/one/{{location.location_id}}"
            class="btn btn-primary"
          >See Reviews</a>
        </div>
      </div>
    {{/each}}
  </div>
</div>

<div class="text-center">
  <h5>See more...</h5>
</div>