<div class="welcome-card mb-5">
  <div
    class="container-fluid vh-100 d-flex flex-column flex-wrap justify-content-center align-items-start align-items-sm-center col-10"
  >

    <div
      class="d-flex flex-column flex-wrap justify-content-center align-items-start align-items-sm-center col-12 col-md-10"
    >
      {{! slide show attempt }}
      <div>
        <ul class="cb-slideshow">
          <li>
            <span> </span>
          </li>
          <li>
            <span> </span>
          </li>
          <li>
            <span> </span>
          </li>
          <li>
            <span> </span>
          </li>
          <li>
            <span> </span>
          </li>
          <li>
            <span> </span>
          </li>
          <li>
            <span> </span>
          </li>
        </ul>
      </div>
      {{! end slide show }}

      <div
        class="d-flex flex-column flex-wrap justify-content-center align-items-stretch align-items-sm-center text-lg-center col-lg-6 bg-lightblue"
      >

        <h3 class="logo d-flex d-sm-none forward" href="/">Discovering Denver</h3>
        <h1 class="forward">The places you don't want to miss.</h1>
        <p class="forward">Discover and add your own reviews to your favorite
          activities in Denver</p>
        <a
          href="#category-section"
          id="forward"
          class="btn btn-primary px-5 py-2 forward"
        >Let's get started!</a>
      </div>

    </div>

  </div>
</div>

<div class="container col-10 latest-reviews">
  <div class="d-flex justify-content-between mb-3">
    <h2>Latest Reviews</h2>
  </div>
  <div class="container">
    <div class="d-flex flex-wrap justify-content-center col-12">
      {{#each reviews as |review|}}
        <div class="card col-12 col-lg-5 m-4 reviewCard">
          <div hidden id="rating">{{review.rating}}</div>
          {{! <img src="..." class="card-img-top" alt="..." /> }}
          <div
            class="card-body d-flex flex-column flex-wrap justify-content-between align-items-stretch col-11 mx-auto"
          >
            <div class="d-flex align-items-center">
              <div class="col-md-1 text-center me-2">
                <img
                  src="/images/user-img.png"
                  class="rounded-circle user-img"
                />
              </div>
              <div class="">
                <h6 class="mb-0">{{user.username}}</h6>
              </div>
            </div>

            <h2 class="card-title text-center mt-5">{{location.name}}</h2>

            <div class="stars text-center"><span
                class="material-symbols-rounded stars-icons star-fill"
              >{{review.filledStars}}</span>
              <span class="stars-empty material-symbols-rounded stars-icons">
                {{review.emptyStars}}</span>
            </div>

            <h3 class="card-location text-center">{{review.title}}</h3>

            <p
              id="review-text"
              class="card-text text-center review-text"
            >"{{review.text}}"</p>
            <div id=" "></div>
            <a id="more">... Read more </a>

            <a
              href="/api/location/one/{{location_id}}"
              class="btn btn-primary py-3"
            >See more {{location.name}} reviews.</a>
          </div>
        </div>

      {{/each}}

    </div>
  </div>
</div>
<div id="category-section" class="container my-5">
  <div class="d-flex flex-column justify-content-center col-12 select-category">
    <h2 class="text-center">Select a category to discover:</h2>
    <div
      class="col-12 d-flex flex-wrap justify-content-center align-items-center my-4"
    >
      <div
        class="category adventure col-10 col-sm-10 col-md-3 d-flex justify-content-center align-items-center mx-3 my-2"
        style="cursor: pointer;"
        onclick="window.location='/api/location/1';"
      >
        <li class="m-0"> Adventure </li></div>
      <div
        class="category entertainment col-10 col-sm-10 col-md-3 d-flex justify-content-center align-items-center mx-3 my-2"
        style="cursor: pointer;"
        onclick="window.location='/api/location/2';"
      >
        <li class="m-0"> Entertainment </li></div>
      <div
        class="category dining col-10 col-sm-10 col-md-3 d-flex justify-content-center align-items-center mx-3 my-2"
        style="cursor: pointer;"
        onclick="window.location='/api/location/3';"
      >
        <li class="m-0"> Dining </li></div>

    </div>
    {{! <ul>
      <li class="category"> <a href="/api/location/1">Adventure</a></li>
      <li> <a href="/api/location/2">Entertainment</a></li>
      <li> <a href="/api/location/3">Dining</a></li>
    </ul> }}
  </div>
</div>
<script src="/js/homepage.js"></script>