 <div
            class="container-fluid text-center bg-primary p-0 location-header"
          >
            <img
              src="./public/images/{{01-trading-post-trail.jpeg}}"
              class="img-fluid"
              alt="..."
            />
          </div>
          <div class="d-flex justify-content-end rate-experience-btn">
            <a href="#" class="btn btn-primary">Rate experience</a>
          </div>

          <div
            class="container d-flex flex-wrap justify-content-center col-md-10 my-5"
          >
            <div class="col-md-10">
              <h3>{{El Dorado Canyon}}</h3>
              <p>
                {{A rock climbing adventure. For all levels of climbers, if you
                are just learning or are an expert you'll will have fun!}}
              </p>
              <p>Location: <span>{{Denver, Colorado}}</span></p>
            </div>
            <div class="col-md-2">
              <div class="border border-1 col-8">
                <div class="d-flex text-center justify-content-center px-3">
                  <h4>{{4.5}}</h4>
                  ⭐
                </div>
              </div>
            </div>
          </div>
          <div class="container col-md-10">
            <h2>Reviews and Ratings</h2>
          </div>

          <div
            class="d-flex flex-wrap container mx-5 align-items-center col-md-7 my-5"
          >
            <div class="col-md-2 text-center">
              <img
                src="../public/images/user-img.png"
                class="rounded-circle"
              />
            </div>
            <div class="col-md-8 review-text">
              <h3>{{James Geneser}}</h3>
              <p>
                {{A rock climbing adventure. For all levels of climbers, if you
                are just learning or are an expert you'll will have fun!}}
              </p>
            </div>
            <div class="col-md-2 d-flex align-self-start rating-num">
              <h4 class="ms-2">{{4.5}}</h4>
              ⭐
            </div>
          </div>

<div
            class="d-flex flex-wrap container mx-5 align-items-center col-md-7 my-5"
          >
            <div class="col-md-2 text-center">
              <img
                src="../public/images/user-img.png"
                class="rounded-circle"
              />
            </div>
            <div class="col-md-8 review-text">
              <h3>{{James Geneser}}</h3>
              <p>
                {{A rock climbing adventure. For all levels of climbers, if you
                are just learning or are an expert you'll will have fun!}}
              </p>
            </div>
            <div class="col-md-2 d-flex align-self-start rating-num">
              <h4 class="ms-2">{{4.5}}</h4>
              ⭐
            </div>
          </div>